.caja-texto {
  background-color: aqua;
}
.input-chat {
  width: 100%;
}
.icono-enviar {
  color: rgb(36, 198, 36);
}
.icono-documento,
.icono-camara {
  color: black;
}
/* .icono-documento, .icono-camara, .icono-enviar{ */
/* border: 2p
} */

.conversacion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgb(198, 198, 198);
  height: 100%;
}

.caja-escribir {
  display: flex;
  width: 99%;
}
.botones {
  width: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caja-mensaje{
  display:flex;
  flex-direction: column;
  margin: 5%;
  margin-right: 2%;
  width: 90%;
  background-color: rgb(223, 242, 219);
  border: 2px solid rgb(113, 234, 113);
  border-radius: 20px;
  
}
.mensaje{
  display: flex;
  flex-direction: column;
  margin: 2%;
  justify-content: center;
  width: 90%;
 
}
.fecha{
  display: flex;
  height: 20%;
  margin: 0%;
  justify-content: center;
  
  

}
